# Project 2 - Coronavirus

This project consist to estimate the SIR model with data from WHO.

In [1]:
import pandas as pd
import numpy as np
from scipy import integrate
from sklearn.metrics import mean_squared_error, mean_squared_log_error, mean_absolute_error, median_absolute_error
from scipy.integrate import odeint
from scipy.optimize import differential_evolution, minimize
import matplotlib.pyplot as plt
import PDEparams as pde
import array

## Data from World Health Organization
#### Only laboratory-confirmed, exclude clinically diagnose

In [2]:
data = pd.read_csv('CoV2019.csv')
china = data["China"]#data["China"][:27]
days = data["Days"]
total = data["Total"]
deaths_china = data["Death China"]
other = data["Other"]
china_total = data["China"]
days_total = data["Days"]
deaths_china_total = data["Death China"]
deaths_outside_total = data["Death Outside"]
len(deaths_china)

41

In [3]:
count = 0
for a in data:
    print(a)
    count = count + 1
print('En total hay:', count, 'características.')

Date of report
Days
Total
China
Death China
Other
Death Outside
Death Globally
En total hay: 8 características.

### Defining the model

We use a SIR model:

$$\begin{align}
\frac{\mathrm{d} S}{\mathrm{d} t} &= -\beta\, \frac{SI}{N}\\
\frac{\mathrm{d} I}{\mathrm{d} t} &= \beta\, \frac{SI}{N} - \gamma\,I\\
\frac{\mathrm{d} R}{\mathrm{d} t} &= \gamma\,I
\end{align}$$

Susceptible -> Infected -> Recovered

$$\begin{align}
\beta &= \text{Contact Rate } \times \text{ Probability of Transmission}\\
\sigma &= \text{Incubation Rate}\\
\gamma &= \text{Recovery Rate}
\end{align}$$

Incubation Period: 1-14 Days, most commonly 5 days (WHO)

In [64]:
Hubei = 5917*10**4
Guangdong = 11346*10**4
Henan = 9605*10**4
Zhejiang = 5737*10**4
Hunan = 6899*10**4
Anhui = 6324*10**4
Jiangxi = 4648*10**4
N = 56*10**3   # estimate of people affected by lock down
init_I = 1
init_R = 1
init_S = 5917*10**4

We define our DE

In [67]:
def SIR(z, t, be, gm):
    '''The input z corresponds to the current state of the system, z = [x, y]. Since the input is in 1D, no 
    pre-processing is needed.
    
    t is the current time.
    
    a and b correspond to the unknown parameters.
    '''
    
    S, I, R = z
    
    return [-be*(S*I)/N, be (S*I)/N-gm*I, gm]

### Using `PDEparams` to estimate parameters

First, we load the data from the `.csv` file.

Then we build the dataframe with data we want

The columns are, in order: $S$, $I$, $R$.

In [34]:
# Susceptibles
lst = []
S = []
#S.append(Hubei)
ent = data.loc[0,'China']
#normalizar datos (empezar desde cero infectados)
for a in china:
    if a == ent:
        lst.append(0)
        #S.append(Hubei)
    else:
        ent2 = a - ent  
        lst.append(ent2)
#print(len(china))

#Ver el número de infectados por dia
I = []


#I.append(init_I)
#print(I)
for i in range(len(lst)-1):
    infected = lst[i+1]-lst[i] 
    I.append(infected)

#lista de susceptibles 
for a in I:
    b = Hubei - a
    S.append(b)


#lista de recuperados
R = []
#R.append(0)
#normalizar datos (empezar desde cero recuperados)
muertos_total=[]
muerto_dia = []
primer_muerto = data.loc[0,'Death China']

muerto_dia.append(0)
#normalizar la informacion sobre los muertos

for d in deaths_china:
    if d == primer_muerto:
        muertos_total.append(0)
        #print(R)
    else:
        muerto = d - primer_muerto
        #print(muerto)
        muertos_total.append(muerto)
        #muerto_dia1 = array.array(muerto_dia)

#Ver el número de muertos por dia
for i in range(len(muertos_total)-1):
    muertos_dia = muertos_total[i+1]-muertos_total[i] 
    muerto_dia.append(muertos_dia)
#print(muerto_dia)

for i in range(len(muerto_dia)-1):
    recuperados = I[i]-muerto_dia[i]
    #print(recuperados)
    R.append(recuperados)


#print(S) 
#print(I)
#print(R)
print(len(S))
print(len(I))
print(len(R))

40
40
40

In [35]:
dict = {'S': S, 'I': I, 'R': R}  
    
df = pd.DataFrame(dict) 
    
df

           S      I      R
0   59169937     63     63
1   59169770    230    230
2   59169741    259    248
3   59169533    467    459
4   59169312    688    672
5   59169224    776    761
6   59168224   1776   1752
7   59168540   1460   1434
8   59168261   1739   1713
9   59168016   1984   1946
10  59167899   2101   2058
11  59167410   2590   2544
12  59167173   2827   2782
13  59166767   3233   3176
14  59166108   3892   3828
15  59166303   3697   3631
16  59166849   3151   3078
17  59166613   3387   3314
18  59167347   2653   2567
19  59167016   2984   2895
20  59167527   2473   2376
21  59167978   2022   1914
22  59168180   1820   1723
23  59168002   1998   1744
24  59168494   1506   1493
25  59168880   1120    977
26  59150539  19461  19319
27  59168107   1893   1787
28  59168248   1752   1654
29  59169605    395    259
30  59169106    894    779
31  59169177    823    705
32  59169350    650    541
33  59169780    220    123
34  59169482    518    368
35  59169589    411    340
36  59169561    439    387
37  59169669    331    302
38  59169567    433    389
39  59169815    185    138

#### Constructing the `PDEmodel` object.

The inputs are

**Required:**
1. The data table `data`.
2. The model `SIR`.
3. The list of initial condition functions.
4. The bounds for the parameter values.

**Optional:**
1. The parameter names.
2. The number of variables: 2. **(Default is 1, this needs to be provided in this case)**
3. The number of spatial dimensions: 0. **(Default is 1, this needs to be provided in this case)**
4. The number of replicates in the data: 1. **(Default is 1, this needs to be provided in this case)**
5. The indices of the measured variables. In this case, the default `None`, since we have data for all 2 variables.
6. The function to apply to the output. In this case, the default `None`, since our data is directly $x$ and $y$.

In [80]:
my_model = pde.PDEmodel(df, SIR, [init_I, init_R], bounds=[(0, 1), (0,1)], 
                        param_names=[r'$be$', r'$gm$'], nvars=0, ndims=0, 
                        nreplicates=1, obsidx=None, outfunc=None)

In [81]:
my_model.initial_condition

array([], dtype=float64)

In [82]:
%%time
my_model.fit()

       $be$      $gm$
0  0.741251  0.226184
CPU times: user 13.4 s, sys: 102 ms, total: 13.5 s
Wall time: 13.8 s

In [83]:
my_model.best_params

       $be$      $gm$
0  0.741251  0.226184

In [84]:
my_model.best_error

inf

In [ ]:
%%time
my_model.likelihood_profiles()

HBox(children=(FloatProgress(value=0.0, description='parameters', max=2.0, style=ProgressStyle(description_wid…

HBox(children=(FloatProgress(value=0.0, description='values within parameters', style=ProgressStyle(descriptio…

In [ ]:
my_model.result_profiles