# Project 2 - Coronavirus

This project consist to estimate the SIR model with data from WHO.

In [1]:
import pandas as pd
import numpy as np
from scipy import integrate
from sklearn.metrics import mean_squared_error, mean_squared_log_error, mean_absolute_error, median_absolute_error
from scipy.integrate import odeint
from scipy.optimize import differential_evolution, minimize
import matplotlib.pyplot as plt
import PDEparams as pde
import array

## Data from World Health Organization
#### Only laboratory-confirmed, exclude clinically diagnose

In [51]:
data = pd.read_csv('CoV2019.csv')
china = data["China"]#data["China"][:27]
days = data["Days"]
total = data["Total"]
deaths_china = data["Death China"]
other = data["Other"]
china_total = data["China"]
days_total = data["Days"]
deaths_china_total = data["Death China"]
deaths_outside_total = data["Death Outside"]
len(deaths_china)
for i in range(len(days)-1):
    if other[i]+china[i]==total[i]:
        print('True')
    else:
        print('False')

True
False
False
False
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [3]:
count = 0
for a in data:
    print(a)
    count = count + 1
print('En total hay:', count, 'características.')

Date of report
Days
Total
China
Death China
Other
Death Outside
Death Globally
En total hay: 8 características.

### Defining the model

We use a SIR model:

$$\begin{align}
\frac{\mathrm{d} S}{\mathrm{d} t} &= -\beta\, \frac{SI}{N}\\
\frac{\mathrm{d} I}{\mathrm{d} t} &= \beta\, \frac{SI}{N} - \gamma\,I\\
\frac{\mathrm{d} R}{\mathrm{d} t} &= \gamma\,I
\end{align}$$

Susceptible -> Infected -> Recovered

$$\begin{align}
\beta &= \text{Contact Rate } \times \text{ Probability of Transmission}\\
\sigma &= \text{Incubation Rate}\\
\gamma &= \text{Recovery Rate}
\end{align}$$

Incubation Period: 1-14 Days, most commonly 5 days (WHO)

In [4]:
Hubei = 5917*10**4
Guangdong = 11346*10**4
Henan = 9605*10**4
Zhejiang = 5737*10**4
Hunan = 6899*10**4
Anhui = 6324*10**4
Jiangxi = 4648*10**4
N = 56*10**3   # estimate of people affected by lock down
#init_I = 1
#init_R = 1
#init_S = 5917*10**4

In [5]:
def init_I():
    return 1

def init_R():
    return 1

We define our DE

In [10]:
def SIR(z, t, be, gm):
    '''The input z corresponds to the current state of the system, z = [x, y]. Since the input is in 1D, no 
    pre-processing is needed.
    
    t is the current time.
    
    a and b correspond to the unknown parameters.
    '''
    
    S, I = z
    
    return [-be*(S*I)/N, be*(S*I)/N-gm*I]

### Using `PDEparams` to estimate parameters

First, we load the data from the `.csv` file.

Then we build the dataframe with data we want

The columns are, in order: $S$, $I$, $R$.

In [53]:
# Susceptibles
lst = []
S = []
#S.append(Hubei)
ent = data.loc[0,'China']
#normalizar datos (empezar desde cero infectados)
for a in china:
    if a == ent:
        lst.append(0)
        #S.append(Hubei)
    else:
        ent2 = a - ent  
        lst.append(ent2)
#print(len(china))

#Ver el número de infectados por dia
I = []


#I.append(init_I)
#print(I)
for i in range(len(lst)-1):
    infected = lst[i+1]-lst[i] 
    I.append(infected)

#lista de susceptibles 
for a in I:
    b = Hubei - a
    S.append(b)


#lista de recuperados
R = []
#R.append(0)
#normalizar datos (empezar desde cero recuperados)
muertos_total=[]
muerto_dia = []
primer_muerto = data.loc[0,'Death China']

muerto_dia.append(0)
#normalizar la informacion sobre los muertos

for d in deaths_china:
    if d == primer_muerto:
        muertos_total.append(0)
        #print(R)
    else:
        muerto = d - primer_muerto
        #print(muerto)
        muertos_total.append(muerto)
        #muerto_dia1 = array.array(muerto_dia)

#Ver el número de muertos por dia
for i in range(len(muertos_total)-1):
    muertos_dia = muertos_total[i+1]-muertos_total[i]
    muerto_dia.append(muertos_dia)
#print(muerto_dia)

for i in range(len(muerto_dia)-1):
    recuperados = N-(I[i]+S[i])
    #print(recuperados)
    R.append(recuperados)


#print(S) 
#print(I)
#print(R)
print(len(S))
print(len(I))
print(len(R))

40
40
40

In [45]:
dict = {'S':S,'I': I}
    
df = pd.DataFrame(dict) 
    
for i in range(len(muerto_dia)-1):
    total = S[i]+I[i]
    print(total)

59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000
59170000

In [36]:
data.head()

,Date of report,Days,Total,China,Death China,Other,Death Outside,Death Globally
0,01/20/20,21,282,278,6,4,0,6
1,01/21/20,22,346,341,6,4,0,6
2,01/23/20,24,581,571,17,7,0,17
3,01/24/20,25,846,830,25,11,0,25
4,01/25/20,26,1320,1297,41,23,0,41

In [37]:
df.head()

          S    I    R
0  59169937   63   63
1  59169770  230  230
2  59169741  259  248
3  59169533  467  459
4  59169312  688  672

#### Constructing the `PDEmodel` object.

The inputs are

**Required:**
1. The data table `data`.
2. The model `SIR`.
3. The list of initial condition functions.
4. The bounds for the parameter values.

**Optional:**
1. The parameter names.
2. The number of variables: 2. **(Default is 1, this needs to be provided in this case)**
3. The number of spatial dimensions: 0. **(Default is 1, this needs to be provided in this case)**
4. The number of replicates in the data: 1. **(Default is 1, this needs to be provided in this case)**
5. The indices of the measured variables. In this case, the default `None`, since we have data for all 2 variables.
6. The function to apply to the output. In this case, the default `None`, since our data is directly $x$ and $y$.

In [13]:
my_model = pde.PDEmodel(df, SIR, [init_I, init_R], bounds=[(0, 1), (0,1)], 
                        param_names=[r'$be$', r'$gm$'], nvars=2, ndims=0, 
                        nreplicates=1, obsidx=None, outfunc=None)

In [14]:
my_model.initial_condition

array([1, 1])

In [16]:
%%time
my_model.fit()

       $be$      $gm$
0  0.576114  0.581836
CPU times: user 1min 12s, sys: 393 ms, total: 1min 12s
Wall time: 1min 14s

In [18]:
my_model.best_params

       $be$      $gm$
0  0.576114  0.581836

In [19]:
my_model.best_error

inf

In [24]:
help(.best_error)

SyntaxError: invalid syntax (<ipython-input-24-143b8c5e7a88>, line 1)

In [ ]:
%%time
my_model.likelihood_profiles()

HBox(children=(FloatProgress(value=0.0, description='parameters', max=2.0, style=ProgressStyle(description_wid…

HBox(children=(FloatProgress(value=0.0, description='values within parameters', style=ProgressStyle(descriptio…

In [ ]:
my_model.result_profiles